@media (max-width: 600px) {
  .logo_dev {
    display: flex;
    flex-wrap: wrap;
    left: 0;
  }

  footer {
    width: 100%;
    overflow-x: hidden;
  }
}

@media (min-width:1200px) {
  .logo_dev {
    display: flex;
    left: 300px;
  }
}
